//============= footer========
/* src/components/Footer.scss */
Footer {
  background-color: transparent !important;
  width: 100% !important;
  color: #fdfdfd;
}
.area-1 {
  a {
    display: none !important;
  }
}
.area-2,
.area-3,
.area-4,
.area-5 {
  display: none !important;
}
.footer-container {
  // position: fixed;
  // bottom: 0;
  //width: 100%;
  color: #ffffff;
  background-color: #12492a !important;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-items: center ;
//max-width: 1600px;
  font-size: 15px;
  height: 170px !important;


  .footer {
    border: 0px !important;
    background-color:transparent!important;
    height: auto !important;
    svg {
      display: none !important;
    }
    select {
    // width: 100% !important;
      width: 150px !important;

     
      padding: 10px;
      border-radius: 10px;
      margin-right: 5px;
    }
    .btn-sm {
      background-color:transparent!important;
      color: #ffffff;
      border-radius: 10px;
      padding: 10px;
      margin-left: 5px;
      border: 1px solid #f8f8f8;
      cursor: pointer;

      &:active {
        // background-color: #ff0bce;
        border: 0% !important;
      }
    }
  }


  .logo {
    display: flex;
    justify-self: center;
    align-self: center;
    max-width: 100px;
    height: 34px !important;
    margin: 0 auto;
  }
}

.footer-bottom {
  height: auto !important;
  max-width: 1600px;
  width: 100% !important;

  margin: auto;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
} 
